# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.log

# Virtual env
.venv/
env/
venv/

# Editor / IDE
.vscode/
.idea/
*.swp

# Git
.git/
.gitignore

# Docker files
Dockerfile
.dockerignore

# OS
.DS_Store

# Tests
tests/

.env